<form action="/events/<%= @event.id %>/users" method="post">
<p>Possible Guests:
  <select name="user_id">
    <option disabled selected> -- select a new guest -- </option>
    <% @users.each do |user| %>
    <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  </select>
</p>
<input type="submit" class="btn btn-info" value="Add Guest" />
</form>