<%= form_for(@event, url: "/events/#{@event.id}/add_guest", method: :post) do |f| %>
	<div class="field">
		<%= f.collection_select(:user_id, @possible, :id, :name, {prompt: 'Please Select' }) %>
	</div>

	<div class="actions">
		<%= f.submit 'Add Guest' %>
	</div>
<% end %>
