<nav class="nav-banner">
  <a class="nav-btn" href="/">Potluck Planner Homepage</a> | 
  <a class="nav-btn" href="/users">Users</a> | 
  <% if logged_in? %>
  	<a class="nav-btn" href="/users/<%= current_user.id %>"><%= current_user.name %>'s Homepage</a> | 
    <%= link_to 'Log out', "/logout", method: :delete %>
  <% else %>
  	<a class="nav-btn" href="/login">Log in</a>
  	<a class="nav-btn" href="/users/new">Sign up</a>
  <% end %>
  </span>
</nav>